body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e8e9f8;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
  }
.container{
  text-align: center;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
#clock {
    font-size: 48px;
    margin: 10px 0;
  }
#nig{
    font-family: 'Courier New', Courier, monospace;
    
}
  
#date {
    font-size: 18px;
    color: #666;
  }
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
button:hover {
    background-color: #0056b3;
  }
.dark-mode {
    background-color: #333;
    color: #f0f0f0;
  }
  
.dark-b{
    background-color: #444;
    color: #f0f0f0;
  }
  
.dark-b:hover {
    background-color: #666;
  }